* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #999999;
  margin: 0;
}

span {
    color: #464646;
    font-family: 'Prata', serif;
}

.popup {
  background: white;
  padding: 0 48.5px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 680px;
  height: 500px;
  overflow: hidden;
  box-shadow: 0px 8px 20px #00000029;
}

.inner-wrap {
    padding: 78px 0;
    border-left: 1px solid #fd8c94;
}
@-moz-document url-prefix() {
  .inner-wrap, .vertical-line {
    border-width: 1.6px!important;
  }
}

.popup-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.vertical-line {
    height: 309px;
    position: absolute;
    border-left: 1px solid #e9e9e9;
    z-index: 1;
    margin-left: -1px;
}

.left-content {
    display: inline-block;
    width: 46%;
    flex-grow: 2;
    padding: 0 20px 0 40px;
    border-right: 1px solid #e9e9e9;
    position: relative;
    line-height: 1.32;
}

.right-content {
    flex-grow: 2;
    display: inline-block;
    padding-left: 25px;
    width: 54%;
}

.divider {
    /* margin-left: -73px; */
    background: white;
    height: 148px;
    line-height: 148px;
    display: inline-block;
    position: absolute;
    left: 42.7%;
    /* display: none; */
    z-index: 1;
}

.center {
    padding-top: 58px;
}

.pecentoff-wrap {
    display: inline-block;
    max-width: 70px;
    word-break: break-word;
    text-align: center;
    line-height: 0.8;
    position: relative;
    top: -30px;
}

span.text {
    font-size: 65px;
    letter-spacing: 13px;
    color: #464646;
    padding-right: 21.5px;
    z-index: 2;
    position: relative;
}

span.percent {
    font-size: 167px;
    letter-spacing: -4.34px;
    color: #464646;
}

span.amp {
    font-size: 65px;
    color: #FD8C94;
}

span.symbol {
    font-size: 82px;
}

span.off {
    font-size: 28px;
    letter-spacing: 2.24px;
}

.email-wrap {
    max-width: 180px;
    display: inline-block;
    margin-right: 10px;
    font-size: 0;
}

input {
  margin: 0;
}

input#submit {
    border: 0;
    border-bottom: 3px solid #fd8c94;
    background: none;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fd8c94;
    padding: 0 11.5px 11.5px;
    line-height: 1;
    vertical-align: top;
    cursor: pointer;
}

input#submit:hover, input#submit:focus {
    border-color: #fc4a56;
    color: #fc4a56;
}

input#email {
  border: 0;
  border-bottom: 3px solid #464646;
  height: 9.5px;
  width: 100%;
  box-sizing: content-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 3px;
}

label {
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    color: #464646;
    line-height: 1;
}

.main-copy {
    display: inline-block;
    width: 100%;
    flex-grow: 2;
    padding: 0;
    border-right: 0;
    position: relative;
}

.popup.confirm {
    padding: 104px 72px 98.5px 91px;
}

.fancy-div {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #E9E9E9;
    border-radius: 50%;
    margin-right: 5px;
}

.circle.big {
    width: 15px;
    height: 15px;
}

.line {
    width: 102px;
    border-top: 1px solid #E9E9E9;
    margin-right: 5px;
}

.sub-copy span {
  display: inline-block;font-family: 'PT Sans', sans-serif;
  font-size: 14px;letter-spacing: 0.7px;
  margin-bottom: 42px;
}

button.cta {
    background: none;
    color: #FD8C94;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1;
    padding: 0 10.5px 10px;
    border: 0;
    border-bottom: 3px solid #FD8C94;
    cursor: pointer;
}

button.cta:hover, button.cta:focus {
    color: red;
    border-color: red;
}

span.icon.icon-close {
    position: absolute;
    top: 13px;
    right: 21px;
    cursor: pointer;
}

svg.icon.icon-ui-close {
    height: 32px;
    width: 32px;
    padding: 8px;
}

.icon-ui-close:hover path {
  fill: #464646;
}

path {
    fill: #E9E9E9;
}

@media all and (max-width: 692px) {
  .popup {
    max-width: 350px;
    height: auto;
    padding: 49px 15px 33px;
  }
  .popup-content {
    position: relative;
 }
  .inner-wrap {
    padding: 0;
    border: 0;
  }
  .vertical-line {
    display: none;
  }
  .left-content {
    width: 100%;
    margin: 0px 35px;
    padding: 0;
    padding-bottom: 29px;
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
  }

  .divider {
    top: 113px;
    left: 120px;
    padding: 0 7px;
    line-height: 1;
    height: auto;
  }

  .right-content {
    padding: 0;
  }

  .center {
    padding: 14px 35px 0;
  }

  span.text {
    padding: 0;
    font-size: 42px;
    letter-spacing: 9px;
  }

  span.percent {
    font-size: 144px;
    letter-spacing: -3.74px;
  }

  .pecentoff-wrap {
    max-width: 58px;
  }

  span.symbol {
    font-size: 70px;
  }

  span.off {
    font-size: 23px;
    letter-spacing: 1.84px;
  }

  .email-wrap {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  input#email {
    text-align: center;
    margin-bottom: 30px;
  }

  input#submit {
    width: 100%;
    border: 1px solid;
    padding: 12px 0;
  }

  .popup.confirm {
    padding: 37px 40px 0;
  }

  .confirm span.text {
    padding: 0;
    font-size: 50px;
    letter-spacing: 10px;
  }

  .fancy-div {
    margin-bottom: 27px;
  }

  .sub-copy span {
    line-height: 2.5;
    margin-bottom: 22px;
  }

  button.cta {
    width: 100%;
    border: 1px solid;
    padding: 20px;
    margin-bottom: 45px;
  }

  span.icon.icon-close {
    top: 5px;
    right: 12px;
  }
}
